<h1>Robras#contact</h1>
<p>Find me in app/views/robras/contact.html.erb</p>


    <!-- formulario -->
    <section class="container-fluid">
        <div class="container">
            <h4 class="text-center text-white n-seccion" id="contacto"> CONTACTO</h4>
            <hr style=" color: #feffff;">

        
            <form class="py-5">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label text-white-50 fw-bold">Nombre</label>
                  <input type="text" class="form-control" id="exampleInputEmail1 " aria-describedby="emailHelp" placeholder="Nombre">
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label  text-white-50 fw-bold">Asunto</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Asunto">
                </div>

                <div class="mb-3">
                  <label for="Mensaje" class="form-label text-white-50  fw-bold" >Mensaje</label>
                  <textarea type="text" class="form-control" rows="7" placeholder="Escribe aquí tu mensaje"></textarea>
                </div>
        
                <div class="d-grid gap-2 d-md-flex  justify-content-md-start" >
                  <button type="submit" class="btn btn-primary" id="correo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Haga clic en el boton para enviar su consulta!!" style="background-color:#17A2B8">
                    Enviar
                  </button>
                  <button id="oculto" type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    correo enviado
                  </button>
                </div>
            </form>
        </div>
    </section>
    <!-- fin formulario -->