<%# <h1>Robras#home</h1>
<p>Find me in app/views/robras/home.html.erb</p> %>

<section class="container-fluid">

        <h2 class="display-3 fw-bold pt-5">
            Bootcamp Ruby on Rails - G11
        </h2>
        <h3  class="my-5">
            Estos son los tres desafios, "Meet and Coffee" , "Olivia Ros" y "Viajes Chile" que puedes ver en Proyectos.
        </h3>
</section>