<%# <h1>Robras#home</h1>
<p>Find me in app/views/robras/home.html.erb</p> %>

<section class="container-fluid">

        <h2 class="display-3 fw-bold pt-5 text-center">
            Bootcamp Ruby on Rails - G11
        </h2>

        <div class="container">
            <div class="row text-center">

                <div class="col-md-6 mt-5" > 
                        <div class="card">
                            <%# <img src="..." class="card-img-top" alt="..."> %>
                            <%= video_tag("short2.mov" , controls: true ) %>
                            <div class="card-body">
                                <h5 class="card-title">Acerca RoR</h5>
                                <p class="card-text"> Ruby on Rails (RoR), también conocido como Rails, es un marco de trabajo de "Fullstack" escrito en el lenguaje de programación Ruby </p>
                            </div>
                        </div>
                </div>
                <div class="col-md-6 mt-5" >
                    
                        <div class="card">
                            <%# <img src="..." class="card-img-top" alt="..."> %>
                            <%= video_tag("short.mov" , controls: true ) %>
                            <div class="card-body">
                                <h5 class="card-title">Acerca RoR</h5>
                                <p class="card-text"> Ruby on Rails (RoR), también conocido como Rails, es un marco de trabajo de "Fullstack" escrito en el lenguaje de programación Ruby </p>
                                <%= link_to 'Historia  Ruby on Rails' , 'https://builtin.com/software-engineering-perspectives/ruby-on-rails' , class:"btn btn-primary" , id:"green" %>
                            </div>
                        </div>

                </div>


            </div>
        </div>
        
</section>