

<div class="container text-center">
    <h1>Desafio - Meet and Coffee </h1>
    <div class="parrafo col-6" >
        <p>En este desafío valide mis conocimientos de la estructura assets de proyecto, utilizando rutas locales, absolutas y/o CDN, de acuerdo a las buenas prácticas de la industria. Para lograrlo, necesité aplicar adecuadamente la estructura y sintaxis de las etiquetas de un documento HTML </p>
    </div>
    <%= image_tag 'Meet and Coffee.png' , class: "poster"%>
</div>