
<div class="container text-center">
    <h1>Desafio - Olivia Ros </h1>
    <div class="parrafo col-6" >
        <p>Este desafio se pensó en dar énfasis a la marca personal de una persona llamada Olivia Ros, en donde se construyó un sitio web con distintos componentes y secciones popularmente conocidos como el Navbar, Hero Section, Acerca de mí, una sección que sirva como portafolio para mostrar proyectos creados, sección de contacto y el Footer o pie de página. Para crear esta página usaremose usó distintos conceptos que nos sirvieron para hacer de esta página un sitio responsivo, es decir, que busca la correcta visualización en distintos dispositivos, además de lo aprendido sobre HTML, CSS, Bootstrap, Google Fonts y Fontawesome.
 </p>
    </div>
    <%= image_tag 'Olivia Ros.png' , class: "poster"%>
</div>