
<div class="container text-center">
    <h1>Desafio - Viajes Chile </h1>
    <div class="parrafo col-6" >
        <p>La agencia Viajes Chile solicita la creación de su landing page, que tenga un diseño atractivo e innovador, utilizando los conocimientos que he adquirido a través de las distintas unidades. Para esto, me puede guiar por la siguiente estructura:
        </p>
        <p>● Introducción a HTML.<br>
● Crear páginas con HTML.<br>
● Introducción a CSS.<br>
● Añadiendo CSS al proyecto.<br>
● Introducción a Bootstrap.<br>
● Integrando Bootstrap.<br>
● Usando Bootstrap para personalizar el proyecto.<br>
● Componentes avanzados de Bootstrap.<br>
● Introducción a JavaScript.<br>
● Operaciones con JavaScript.<br>
● Integrando jQuery.<br>
● Bootstrap JS.<br>
● Terminal y manejo de archivos.<br>
● Introducción a Git.<br>
● Introducción a Github.<br>
● Trabajando con Git y Github.<br>
        
        </p>
<p> La página debe contener las siguientes secciones:<br>
● Una barra de navegación fija en la parte superior de la pantalla, con el logo y links a
diferentes secciones de la página, haciendo un smooth scroll.<br>
● Un carousel que muestre las imágenes destacadas del sitio.<br>
● Una sección de presentación, utilizando favicons y 3 párrafos (debe desaparecer en
tamaños pequeños de pantalla).<br>
● Una sección de destacados, que muestre 4 cards (tarjetas) con la imagen e
información asociada.<br>
● Una sección de formulario de contacto.<br>
● Una sección footer con links a las redes sociales.<br>
</p>

    </div>
    <%= image_tag 'Viajes Chile.png' , class: "poster"%>
</div>